@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.flashes h4 {
    line-height: 2;
    padding: 2px;
}

h2, h3 {
    font-family: Lobster;
    color: #36827f;
}

/* site colors */
.dark-green {
    background-color: #36827F;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url("../images/background_img.png");
    font-family: Roboto;
    font-weight: bold;
    color: #666666;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }


.brand-logo {
    font-family: Lobster;
    margin-left: 15px;
}

.hide-on-med-and-down {
    font-family: Roboto;
    font-weight: 300;
}

.page-footer {
    color: #f9db6d;
    background-color: #464d77;
}

.page-footer a {
    text-decoration: underline;
}

.page-footer a:hover {
    text-decoration: none;
}

.fab {
    font-size: 1.5em;
    padding: 6px;
}
