{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Job List</h3>

<ul class="collapsible popout">
    {% for job in jobs %}
    <li>
        <div class="collapsible-header white teal-text">
            <div class="col s3">
                <i class="far fa-folder-open"></i>
            </div>
            <div class="col s9">
                {{ job.job_name }}<br>
                {{ job.due_date }}
                {% if job.is_urgent == "on" %}
                    &nbsp;<i class="fas fa-exclamation-circle purple-text text-darken-2 
                    tooltipped" data-position="right"
                    data-tooltip="This Job Is Urgent!"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body grey lighten-4">
            <p>{{ job.category_name }}</p>
            <p>{{ job.job_description }}</p>
            <p><em>by: {{ job.created_by }}</em></p>
                <a href="" class="waves-effect waves-light btn-small">Done</a>
                <a href="{{ url_for('edit_jobs', job_id=job._id) }}" class="waves-effect waves-light btn-small purple darken-4">Edit</a>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}