{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Job List</h3>

<ul class="collapsible popout">
    {% for job in jobs %}
    <li>
        <div class="collapsible-header white teal-text">
            <div class="col s3">
                <i class="far fa-folder-open"></i>
            </div>
            <div class="col s9">
                {{ job.job_name }}<br>
                Due Date: {{ job.due_date }}
                {% if job.is_urgent == "on" %}
                    &nbsp;<i class="fas fa-exclamation-circle purple-text text-darken-2 
                    tooltipped" data-position="right"
                    data-tooltip="This Job Is Urgent!"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body grey lighten-4">
            <div class="card-panel">
                <p><span class="purple-text text-darken-2">Category Name:</span> {{ job.category_name }}</p>
                <p><span class="purple-text text-darken-2">Company Name:</span> {{ job.company_name }}</p>
                <p><span class="purple-text text-darken-2">Contact Name:</span> {{ job.contact_name }}</p>
                <p><span class="purple-text text-darken-2">Contact Email:</span> {{ job.contact_email }}</p>
                <p><span class="purple-text text-darken-2">Job Description:</span> {{ job.job_description }}</p>
                <p><span class="purple-text text-darken-2">Launch Time:</span> {{ job.launch_time }}</p>
                <p><em>job post by: {{ job.created_by }}</em></p>
                {% if session.user|lower == job.created_by|lower %}
                    <a href="" class="waves-effect waves-light btn-small">Done</a>
                    <a href="{{ url_for('edit_jobs', job_id=job._id) }}" 
                        class="waves-effect waves-light btn-small purple darken-4">Edit</a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}