{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Job List</h3>

<ul class="collapsible popout">
    {% for job in jobs %}
    <li>
        <div class="collapsible-header white teal-text">
            <i class="far fa-folder-open"></i>
            {{ job.job_name }}<br>
            {{ job.due_date }}
            {% if job.is_urgent == "on" %}
                &nbsp;<i class="fas fa-exclamation-circle purple-text text-darken-2 tooltipped"
                data-position="right" data-tooltip="This Job Is Urgent!"></i>
            {% endif %}
        </div>
        <div class="collapsible-body grey lighten-4">
            <p>{{ job.category_name }}</p>
            <p>{{ job.job_description }}</p>
            <p><em>by: {{ job.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}