{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="center-align">
            {{ username.capitalize() }}'s Profile
        </h2>
    </div>
</div>

<!-- about -->
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <span class="teal-text">Small Jobs is a place whereby people can post a small web developing projects. Think of it as a jobs notice board you might find on a wall in your local community hall or college. Its aim is to promote jobs to skilled developers who might have been made redundant due to Covid. So that's the basic idea of Small Jobs, it's not meant to be flashy with all bells and whistles, I'll leave that to LinkedIn.
            <p>
                Users can upload a job description, edit it, mark it as urgent (if it is) and when the job is done, they can then delete it.
            </p>
            <p>
                <h5>What job can I post?</h5>
                <ul>
                    <li><i class="fas fa-check"></i> Static HTML and CSS sites.</li>
                    <li class="purple-text text-darken-4"><i class="fas fa-check"></i> Something with a bit more interactivity using Javascript.</li>
                    <li><i class="fas fa-check"></i> A website that requires more advanced features such as user authentication.</li>
                    <li class="purple-text text-darken-4"><i class="fas fa-check"></i> Or maybe you're a small business that has to put your whole shop online due to Covid and require an e-commerce site.</li>
                </ul>
            </p>



{% endblock %}