{% extends "base.html" %}
{% block content %}

<!-- about -->
<h2 class="center-align">About</h2>
<div class="row card-panel">
    <div class="col s12">
        <div class="card-panel">
            <div class="teal-text">Small Jobs is a place whereby people can post a small web developing projects. Think of it as a jobs notice board you might find on a wall in your local community hall or college. Its aim is to promote jobs to skilled developers who might have been made redundant due to Covid. So that's the basic idea of Small Jobs, it's not meant to be flashy with all bells and whistles, I'll leave that to LinkedIn.<br>
            Users can upload a job description, edit it, create a due date, mark it as urgent (if it is) and when the job is done, they can then delete it.
                <h5>What job can I post?</h5>
                <ul>
                    <li><i class="fas fa-check"></i> Static HTML and CSS sites.</li>
                    <li class="purple-text text-darken-4"><i class="fas fa-check"></i> Something with a bit more interactivity using Javascript.</li>
                    <li><i class="fas fa-check"></i> A website that requires more advanced features such as user authentication.</li>
                    <li class="purple-text text-darken-4"><i class="fas fa-check"></i> Or maybe you're a small business that has to put your whole shop online due to Covid and require an e-commerce site.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<h2 class="center-align">Register</h2>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user prefix purple-text text-darken-4"></i>
                    <input id="username" name="username" type="text" minlength="4" 
                        maxlength="15" pattern="^[a-zA-Z0-9]${4,15}" class="validate" required>
                    <label for="username">Username</label>
                    <div class="center-align"><small>Username can be between 4-15 characters long, 
                        using uppercase or lowercase letters and or numbers from 0-9</small>
                    </div>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix purple-text text-darken-4"></i>
                    <input id="password" name="password" type="password" minlength="4" 
                        maxlength="15" pattern="^[a-zA-Z0-9]${4,15}" class="validate" required>
                    <label for="password">Password</label>
                    <div class="center-align"><small>Password can be between 4-15 characters long, 
                        using uppercase or lowercase letters and or numbers from 0-9</small>
                    </div>
                </div>
            </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large text-shadow">
                    Click to Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Please <a href="{{ url_for('login') }}" class="teal-text">click here</a> if you already have an account.
        </p>
    </div>
</div>

{% endblock %}